.pane {
   -fx-background-color: GREEN;
   -fx-text-fill: white; 
}
.background {
   -fx-background-color: BEIGE;
   -fx-text-fill: white;

}

.background_image{
    -fx-background-image: url("../../resources/b.png");
      -fx-background-repeat: stretch;
      -fx-background-size: 50 50;
      -fx-background-position: center center;
      -fx-border-color: black ;
      -fx-border-width: 1 ;
}
.background_imagew{
    -fx-background-image: url("../../resources/ws.png");
      -fx-background-repeat: stretch;
      -fx-background-size: 50 50;
      -fx-background-position: center center;
      -fx-border-color: black ;
      -fx-border-width: 1 ;
}
.background_border{

      -fx-border-color: black ;
      -fx-border-width: 1 ;
}
.HighLight{
 -fx-background-image: url("../../resources/gg.png");
      -fx-background-repeat: stretch;
      -fx-background-size: 20 20;
      -fx-background-position: center center;
      -fx-border-color: black ;
      -fx-border-width: 1 ;

}

